alabaster==0.7.12
atomicwrites==1.4.0; sys_platform == "win32"
attrs==21.2.0
babel==2.9.1
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.7; python_version >= "3"
click==8.0.3
cloudscraper==1.2.58
colorama==0.4.4; platform_system == "Windows" or sys_platform == "win32"
deprecation==2.1.0
distlib==0.3.3
docutils==0.17.1
filelock==3.3.2
identify==2.3.4
idna==3.3; python_version >= "3"
imagesize==1.2.0
iniconfig==1.1.1
jinja2==3.0.2
lxml==4.6.4
mako==1.1.5
markdown-it-py==1.1.0
markupsafe==2.0.1
mdit-py-plugins==0.2.8
myst-parser==0.15.2
nodeenv==1.6.0
packaging==21.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.11.0
pygments==2.10.0
pyparsing==3.0.4
pytest==6.2.5
pytz==2021.3
pyyaml==6.0
requests==2.26.0
requests-toolbelt==0.9.1
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.3
sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
urllib3==1.26.7
virtualenv==20.10.0
